.subHeadingSection{padding: 0 29px; margin: 0px; position: relative;}
.subHeadingSection h2{color: #fff; font-weight:300; font-family: 'Nunito Sans', sans-serif; padding: 50px 0 0 0; font-size: 44px; line-height: 60px;}
.subHeadingSection h2::after{content: ""; position: absolute; left: 30px; border-top: 1px solid rgba(255, 255, 255, 0.25); bottom: -30px; width: calc(100% - 65%);}
.loginTxt{margin:0; padding: 40px 0 0 19px;}
.loginTxt h4 {font-size: 32px; line-height: 44px; font-weight: 400; color: #fff; margin: 0; padding: 0;}
.loginTxt p {font-size: 14px; line-height: 19px; font-weight: 200; color: #fff; margin: 0; padding: 10px 0 25px 0;}
.singInBx{margin: 0px; padding: 0px 20px; color:#FFF;}
.singInBx ion-item{height: 100%;}
.singInBx label, .singInBx input{padding: 0px; margin: 0; background: transparent; color:#fff;}
.boderCls{--placholder-color: #fff !important; --placeholder-opacity: 1 !important; font-family: 'Nunito Sans', sans-serif; font-size: 16px; line-height: 22px; border: 1px solid rgba(255, 255, 255, 0.25); margin: 10px 0 20px 0; color: #ffffff !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.fgCls {text-align: center;}
.fgCls a {color: #f5b300; display: inline-block; text-align: center; text-decoration: none;}
.signinBtn .ion-color-warning {text-transform: uppercase; font-size: 18px;}
.signinBtn a {background: red !important; border-radius: 4px !important;}
.signinBtn {display: flex; justify-content: space-between;}
.signinBtn ion-button {display: inline-flex;}
.signinBtn ion-button:first-child {width: calc(100% - 68px); font-family: 'Nunito Sans', sans-serif !important; font-weight: 700; font-size: 16px;}
