
  <ion-content>
      <div class="mainBx">
        <div class="logo">
            <img src="../../../assets/images/logo.png" alt="">
        </div>
        <div class="subHeadingSection"><h2>Excellence<br style="clear: both;" />Center</h2></div>
  
        <ion-grid>
              <ion-row justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                  <div class="loginTxt">
                    <h4>Forgot Password</h4>
                    <p>We just need your registered email address to send you password reset.</p>
                  </div>
                  <div class="singInBx">
                      <ion-label position="stacked">E-mail <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input required type="text" placeholder="Your e-mail" class="boderCls"></ion-input>
                  </div>
                  <div class="signinBtn" padding>
                    <ion-button color="warning" class="signin_btn" expand="block" href="/dashboard" slot="start">Reset Password?</ion-button>
                    <ion-button color="warning" fill="outline" class="signin_btn" expand="block" href="/dashboard" slot="end"><ion-icon name="home" size="small"></ion-icon></ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
  
      </div>
    </ion-content>
  