
  <ion-content>
    <div class="mainBx">
      <div class="logo">
          <img src="../../../assets/images/logo.png" alt="">
      </div>
      <div class="subHeadingSection"><h2>Excellence Center</h2></div>

      <ion-grid>
            <ion-row justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div class="loginTxt">
                  <h4>Sign in</h4>
                </div>
                <div class="singInBx">
                    <ion-label position="stacked">Username </ion-label>
                    <ion-input required type="text" placeholder="Your e-mail" class="boderCls"></ion-input>
                    <ion-label position="stacked">Password </ion-label>
                    <ion-input required type="password" placeholder="Password" class="boderCls"></ion-input>
                    <div class="fgCls"><a href="/forgot-password">Forget Password</a></div>
                </div>
                <div class="signinBtn" padding>
                  <ion-button color="warning" class="signin_btn" expand="block"  href="/dashboard">Sign in</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

    </div>
  </ion-content>
